body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    margin: auto;
}

h1 {
    font-size: 2.5em;
    margin: 0.5em 0;
}

p {
    font-size: 1.2em;
    color: #666;
}

.buttons {
    margin: 1em 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.download-btn {
    background-color: #007bff;
}

.github-btn {
    background-color: #24292e;
}

.btn:hover {
    opacity: 0.9;
}

.logo img {
    margin-top: 20px;
    max-width: 100px;
    width: 100%;
}

@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }
    
    p {
        font-size: 1em;
    }
    
    .btn {
        font-size: 0.9em;
        margin: 5px 0;
    }
}

